@charset "utf-8";

/* import Roboto Font */

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
body {
    background-color: rgb(4, 147, 114);
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

header {
    color: rgb(4, 147, 114);
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 4vw;
}

.subheading {
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    letter-spacing: .2em;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin-left: 6vw;
}

section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: rgb(4, 147, 114);
    height: 22vh;
    width: 91vw;
    padding: 0;
    margin: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
}

.footer {
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: lighter;
}

button {
    width: 200px;
    background-color: white;
    border-color: rgb(20, 20, 20);
    border-width: 1px;
    box-shadow: none;
    border-radius: 3px;
    font-weight: bold;
    color: rgb(4, 147, 114);
    margin: 5px;
    padding: 2px;
}

button:hover {
    background-color: rgb(222, 222, 222);
}

table {
border-style: solid;
border-width: 1px;
}
td, th {
    width: 200px;
    height: 50px;
    background-color: #f5f5f5;
    color: rgb(4, 147, 114);
}

.table-output {
    text-align: left;
    padding-left: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.inline-div {
    margin-top: 2vh;
    display: inline-block;
    width: 14vw;
    text-align: right;
}
